<div class="page-center  bg-imagen">
  <div class="page-center-in animated bounceIn">
      <div class="container-fluid">
          <form class="sign-box " [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="">
                  <img class="img-fluid" src="assets/img/logo/logo.png" alt="">
              </div>
              <header class="sign-title">Inicio de Sesión</header>
              <div class="form-group" [ngClass]="{'error': loginForm.controls.email.errors?.required || loginForm.controls.email.errors?.email  &&  loginForm.controls.email.touched, 'has-danger': loginForm.controls.email.errors?.required || loginForm.controls.email.errors?.email  &&  loginForm.controls.email.touched}">
                  <input formControlName="email" type="email"  class="form-control" [ngClass]="{'form-control-danger': loginForm.controls.email.errors?.required || loginForm.controls.email.errors?.email  && loginForm.controls.email.touched }" placeholder="Correo electrónico"/>
                  <div class="error-list" *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.touched" ><ul><li>Este campo es obligatorio.</li></ul></div>
                  <div class="error-list text-danger" *ngIf="loginForm.controls.email.errors?.email && loginForm.controls.email.touched" ><ul><li>Este campo debe ser un email válido.</li></ul></div>
                </div>
              <div class="form-group" [ngClass]="{'error': loginForm.controls.password.errors?.required && loginForm.controls.password.touched, 'has-danger': loginForm.controls.password.errors?.required && loginForm.controls.password.touched}">
                  <input formControlName="password" type="password" class="form-control" placeholder="Contraseña" [ngClass]="{'form-control-danger': loginForm.controls.password.errors?.required && loginForm.controls.password.touched }"/>
                  <div class="error-list" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched" ><ul><li>Este campo es obligatorio.</li></ul></div>
              </div>
              <div class="form-group">
                  <div class="checkbox float-left">
                      <input formControlName="remember" type="checkbox" id="signed-in"/>
                      <label for="signed-in">Mantener sesión iniciada</label>
                  </div>
                  <!-- <div class="float-right reset">
                      <a href="reset-password.html">Cambiar Password</a>
                  </div> -->
              </div>
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-rounded btn-warning">Iniciar Sesión</button>
              <p class="sign-note">Nuevo en nuestra Plataforma? <a [routerLink]="['/auth/register']">Registrarse</a></p>
              <!--<button type="button" class="close">
                  <span aria-hidden="true">&times;</span>
              </button>-->
          </form>
      </div>
  </div>
</div><!--.page-center-->
