<div class="page-content animated fadeIn">
  <div class="container-fluid">
    <div class="d-flex">
      <h1 class="text-uppercase">Reporte diario de Recepciones realizadas</h1>

    </div>
    <hr>

    <div class="box-typical box-typical-padding" >
      <div >
        <section class="">
          <div class="row">
            <div class="col-md-3">
              <!-- <div class="input-group">
                <input type="text"
                class="form-control"
                bsDatepicker [bsValue]="fecha" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="fecha" (bsValueChange)="updateFilter(fecha)">
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </div>
              </div> -->
              <input type="month" class="form-control" [(ngModel)]="fecha" (change)="getVentas(fecha)">
              <!-- {{fecha}} -->
            </div>
            <div class="col-md-5 text-center">
               <button class="btn btn-info " (click)="ventasPDF(fecha)"> <i class="fa fa-file-archive-o" aria-hidden="true"></i> Imprimir Reporte</button>
            </div>
            <div class="col-md-4">
              <p class="text-uppercase text-center" style="font-size: 20px;margin-top: 10px;"><b>Venta total del mes: </b> S/. {{total.toFixed(2)}}</p>
            </div>
          </div>
          <hr>
        <ngx-datatable
          #table
          class="material expandable"
          [columnMode]="'force'"
          [loadingIndicator]="loading"
          [headerHeight]="50"
          [scrollbarH]="true"
          [footerHeight]="50"
          rowHeight="50"
          [limit]="20"
          [rows]="ventas"
          [sorts]="[{prop: 'id', dir: 'asc'}]"
        >

        <ngx-datatable-column name="#" [flexGrow]="3">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            {{ rowIndex +1 }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha y Hora de Registro" [flexGrow]="3">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template >
            {{ row.fecha_hora }}
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Tipo de Pago" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">

            {{row.medio_pago}}
            <!-- {{row | json}} -->
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Estado" [flexGrow]="1">
          <ng-template  let-value="value" let-row="row" ngx-datatable-cell-template >
            <span *ngIf="row.estado == 'registrado'"  class="label label-primary"> {{ row.estado }}</span>
            <span *ngIf="row.estado == 'Anulado'"  class="label label-danger"> {{ row.estado }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Tipo de Comprobante" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">

            {{row.comprobante}}
            <!-- {{row | json}} -->
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Monto" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">

            S/. {{row.total}}
            <!-- {{row | json}} -->
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Opciones" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <button (click)="openModal(lgModal, row)" class="btn btn-sm btn-warning"><i class="fa fa-eye" aria-hidden="true"></i></button> &nbsp;
            <button (click)="anularVenta(row)" [disabled]="row.estado == 'Anulado'" class="btn btn-sm btn-success"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;
            <button (click)="listarPdf(row)"  class="btn btn-sm btn-danger"><i class="fa fa-file" aria-hidden="true"></i></button>
          </ng-template>
        </ngx-datatable-column>


        </ngx-datatable>
        </section><!--.box-typical-->
      </div>


    </div>

  </div>
</div>



<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left text-uppercase">Detalle de Venta</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="animated fadeIn">
          <div class="container-fluid">
            <hr>
            <div class="row" *ngIf="datosVenta" >

              <div class="col-md-4">
                <section class="card card-default">
                  <header class="card-header text-uppercase text-center text-secondary text-bold">
                    DATOS DEL habitación
                    <button type="button" class="modal-close">
                      <i class="fa fa-bed"></i>
                    </button>

                  </header>
                  <div class="d-flex p-dato">
                    <div class="card-text text-bold">Numero</div>
                    <div class="card-text">{{datosVenta.numero}}</div>
                  </div>
                  <div class="d-flex p-dato border-gris">
                    <div class="card-text text-bold">Tipo de Habitación</div>
                    <div class="card-text">{{datosVenta.tipo}}</div>
                  </div>
                  <div class="d-flex p-dato border-gris">
                    <div class="card-text text-bold">Costo</div>
                    <div class="card-text">S/. {{datosVenta.precio}}</div>
                  </div>
                  <div class="d-flex p-dato border-gris">
                    <div class="card-text text-bold">Estado</div>
                    <div class="card-text"><span class="label label-info">{{datosVenta.estado}}</span></div>
                  </div>


                </section>
              </div>

              <div class="col-md-4">
                <section class="card card-blue">
                  <header class="card-header text-uppercase text-bold text-info text-center">
                    Datos del Huesped
                    <button type="button" class="modal-close">
                      <i class="fa fa-user"></i>
                    </button>
                  </header>
                  <div class="d-flex p-dato">
                    <div class="card-text text-bold">Nombre</div>
                    <div class="card-text">{{datosVenta.nombre_huesped}}</div>
                  </div>
                  <div class="d-flex p-dato border-gris">
                    <div class="card-text text-bold">Documento</div>
                    <div class="card-text">{{datosVenta.num_documento}}</div>
                  </div>
                  <div class="d-flex p-dato border-gris">
                    <div class="card-text text-bold">Celular</div>
                    <div class="card-text">{{datosVenta.celular}}</div>
                  </div>
                  <div class="d-flex p-dato border-gris">
                    <div class="card-text text-bold">Procedencia</div>
                    <div class="card-text">{{datosVenta.procedencia}}</div>
                  </div>
                </section>
              </div>
              <div class="col-md-4">
                <section class="card card-green">
                  <header class="card-header text-uppercase text-bold text-success text-center">
                   Datos de Recepcion
                    <button type="button" class="modal-close">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </header>
                  <div class="d-flex p-dato">
                    <div class="card-text text-bold">Fecha de Entrada</div>
                    <div class="card-text text-danger">{{datosVenta.fecha_entrada | date:"dd-MM-yyyy"}}</div>
                  </div>

                  <div class="d-flex p-dato border-gris">
                    <div class="card-text text-bold">Fecha de Salida</div>
                    <div class="card-text text-danger" >{{datosVenta.fecha_salida | date:"dd-MM-yyyy"}}</div>
                  </div>
                  <div class="d-flex p-dato border-gris">
                    <div class="card-text text-bold">Imagen</div>
                    <img [src]="'http://127.0.0.1:8000/img/TipoHabitacion/'+datosVenta.imagen" width="100" height="65" >
                  </div>
                </section>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="box-typical box-typical-padding" style="margin-bottom: 0;">
                  <div style="overflow: auto;">
                    <table class="table table-bordered table-dark ">
                      <tr class="thead-dark">
                        <th>#</th>
                        <th>Código</th>
                        <th>Producto</th>
                        <th>Categoria</th>
                        <th>Precio Unitario</th>
                        <th>Cantidad</th>
                        <th>Sub Total</th>
                      </tr>

                    <tr *ngFor="let item of arrayDetalle; let index = index" class="text-center">
                      <td>{{index +1}}</td>
                      <td>{{item.codigo}}</td>
                      <td>{{item.producto}}</td>
                      <td>{{item.categoria}}</td>
                      <td>{{'S/. '+item.precio}}</td>
                      <td>{{item.cantidad}}</td>
                      <td>{{'S/. '+((item.precio | number) * item.cantidad).toFixed(2)}}</td>
                    </tr>
                    <tr *ngIf="mostrar" class="bg-dark" >
                      <td colspan="7"  style="text-align: center; background-color: #e1e1e1;">
                        No tuvo servicios extras al de la Habitación.
                    </td>
                    </tr>
                    <tr class="text-right">
                      <td *ngIf="datosVenta" colspan="6" class="text-bold text-uppercase text-info">Costo de la habitación por ({{datosVenta.cant_dias}} {{(datosVenta.cant_dias > 1 ? 'dias' : 'día')}}): </td>
                      <td *ngIf="datosVenta"  class="text-center" >{{'S/. '+(datosVenta.precio * datosVenta.cant_dias).toFixed(2)}}</td>
                    </tr>

                  </table>
                  <hr>
                  <div style="text-align: right;">
                    <p *ngIf="datosVenta" >Monto total :  <span style="font-size: 20px;" class="text-bold">{{'S/. ' + datosVenta.monto }}</span></p>
                  </div>
                  </div>
                </div>
              </div>
            </div>





          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button (click)="lgModal.hide()" class="btn btn-rounded btn-danger"><i class="fa fa-close" aria-hidden="true"></i> Cancelar</button>
      </div>
    </div>
  </div>
</div>


