
.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 8px;
flex-direction: column;
text-align: center;

}
.cursor-pointer{
  cursor:  pointer;
}
.d-flex .icon{
  font-size: 35px;
}
.d-flex .info-icon{
  font-size: 25px;
}
@media screen and (min-width:992px){
  .d-flex{
    flex-direction: row;
  }
  .btn-grid{
    display: inline-block;
    width: 35%;
  }
}
.text-bold{
  font-weight: bold;
}
.border-gris{
  border-top: 1px solid #e1e1e1;
}
.border-orange{
  border-top: 1px solid #F29824;
}
.p-dato{
  padding: 10px 25px;
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}
/* .cabecera{
  display: flex;
  justify-content: space-between;
} */
.cuadro-buscar{
  width: 100%;
}
@media screen and (min-width: 768px){
  .cuadro-buscar{
    width: 30%;
  }

}
:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
  display: inherit;
}

