
    <!-- <app-modal [accion]="accion" (rol)="cargarTabla($event)"></app-modal> -->
    <div class="page-content animated fadeIn">
      <div class="container-fluid">
        <div class="">
          <h2> Registro de Categorias de Productos</h2>
         <app-modal app-modal [accion]="'guardar'" [template]="'categoria'" [data]="{}" (DatoIngresado)="cargarTabla($event)" ></app-modal>
        <hr>
        </div>
        <section class="">
          <input
          type="text"
          style="padding:8px;margin:15px auto;box-shadow: 3px 4px 15px -8px rgba(0,0,0,0.75);
          border: 1px #e1e1e1;"
          placeholder="Ingrese el nombre a Buscar" class="cuadro-buscar"
          (keyup)="updateFilter($event)"
        />
        <ngx-datatable
          #table
          class="material expandable"
          [columnMode]="'force'"
          [loadingIndicator]="loading"
          [scrollbarH]="true"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          [limit]="3"
          [rows]="categorias"
          [sorts]="[{prop: 'id', dir: 'asc'}]"
        >

        <ngx-datatable-column name="id" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
            {{ rowIndex + 1}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="nombre" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template >
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="descripcion" [flexGrow]="1">
          <ng-template  let-value="value" ngx-datatable-cell-template >
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="estado" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template >
            <span *ngIf="value == 1"  class="label label-success">Activo</span>
            <span *ngIf="value == 0"  class="label label-danger">Inactivo</span>

          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="opciones" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">

            <app-modal  [accion]="'actualizar'" [template]="'categoria'" [data]="row" (DatoActualizado)="actualizarRol($event)"></app-modal>
            &nbsp;<button *ngIf="row.estado == 1"  (click)="desactivarCategoria(row)" class="btn btn-primary btn-sm"><i class="font-icon font-icon-trash"></i> </button>
            <button *ngIf="row.estado == 0"  (click)="activarRol(row)" class="btn btn-secondary btn-sm"><i class="font-icon font-icon-eye"></i> </button>
            <!-- {{row | json}} -->
          </ng-template>
        </ngx-datatable-column>

        </ngx-datatable>
        </section><!--.box-typical-->

      </div><!--.container-fluid-->
    </div><!--.page-content-->
