<div class="page-content animated fadeIn">
  <div class="container-fluid">
    <div class="d-flex">
      <h1 class="text-uppercase">Proceso de Check Out</h1>
      <button (click)="volver()" class="btn  btn-lg btn-info"> <i class="fas fa-arrow-circle-left"></i> Regresar</button>
    </div>
    <hr>
    <div class="row" *ngIf="arrayDataRecepcion" >

      <div class="col-md-4">
        <section class="card card-default">
          <header class="card-header text-uppercase text-center text-secondary text-bold">
            DATOS DEL habitación
            <button type="button" class="modal-close">
              <i class="fa fa-bed"></i>
            </button>

          </header>
          <div class="d-flex p-dato">
            <div class="card-text text-bold">Numero</div>
            <div class="card-text">{{arrayDataRecepcion.numero}}</div>
          </div>
          <div class="d-flex p-dato border-gris">
            <div class="card-text text-bold">Tipo de Habitación</div>
            <div class="card-text">{{arrayDataRecepcion.tipo_habitacion}}</div>
          </div>
          <div class="d-flex p-dato border-gris">
            <div class="card-text text-bold">Costo</div>
            <div class="card-text">S/. {{arrayDataRecepcion.precio}}</div>
          </div>
          <div class="d-flex p-dato border-gris">
            <div class="card-text text-bold">Estado</div>
            <div class="card-text"><span class="label label-danger">{{arrayDataRecepcion.estado}}</span></div>
          </div>


        </section>
      </div>

      <div class="col-md-4">
        <section class="card card-orange">
          <header class="card-header text-uppercase text-bold text-warning text-center">
            Datos del Huesped
            <button type="button" class="modal-close">
              <i class="fa fa-user"></i>
            </button>
          </header>
          <div class="d-flex p-dato">
            <div class="card-text text-bold">Nombre</div>
            <div class="card-text">{{arrayDataRecepcion.nombre_huesped}}</div>
          </div>
          <div class="d-flex p-dato border-orange">
            <div class="card-text text-bold">Documento</div>
            <div class="card-text">{{arrayDataRecepcion.num_documento}}</div>
          </div>
          <div class="d-flex p-dato border-orange">
            <div class="card-text text-bold">Celular</div>
            <div class="card-text">{{arrayDataRecepcion.celular}}</div>
          </div>
          <div class="d-flex p-dato border-orange">
            <div class="card-text text-bold">Procedencia</div>
            <div class="card-text">{{arrayDataRecepcion.procedencia}}</div>
          </div>
        </section>
      </div>
      <div class="col-md-4">
        <section class="card card-green">
          <header class="card-header text-uppercase text-bold text-success text-center">
           Datos de Recepcion
            <button type="button" class="modal-close">
              <i class="fa fa-calendar"></i>
            </button>
          </header>
          <div class="d-flex p-dato">
            <div class="card-text text-bold">Fecha de Entrada</div>
            <div class="card-text text-danger">{{arrayDataRecepcion.fecha_entrada | date:"dd-MM-yyyy"}}</div>
          </div>

          <div class="d-flex p-dato border-gris">
            <div class="card-text text-bold">Fecha de Salida</div>
            <div class="card-text text-danger" >{{arrayDataRecepcion.fecha_salida | date:"dd-MM-yyyy"}}</div>
          </div>
          <div class="d-flex p-dato border-gris">
            <div class="card-text text-bold">Imagen</div>
            <img [src]="url+'img/TipoHabitacion/'+arrayDataRecepcion.imagen" width="100" height="65" >
          </div>
        </section>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="box-typical box-typical-padding">
          <div style="overflow: auto;">
            <table class="table table-bordered table-dark ">
              <tr class="thead-dark">
                <th>#</th>
                <th>Código</th>
                <th>Producto</th>
                <th>Categoria</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Sub Total</th>
              </tr>

            <tr *ngFor="let item of arrayDataDetalle; let index = index" class="text-center">
              <td>{{index +1}}</td>
              <td>{{item.codigo}}</td>
              <td>{{item.nombre_producto}}</td>
              <td>{{item.nombre_categoria}}</td>
              <td>{{'S/. '+item.precio}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{'S/. '+((item.precio | number) * item.cantidad).toFixed(2)}}</td>
            </tr>
            <tr *ngIf="mostrar" class="bg-dark" >
              <td colspan="7"  style="text-align: center; background-color: #e1e1e1;">
                No tuvo servicios extras al de la Habitación.
            </td>
            </tr>
            <tr class="text-right">
              <td *ngIf="arrayDataRecepcion"  colspan="6" class="text-bold text-uppercase text-info">Costo de la habitación (x{{arrayDataRecepcion.cant_dias}}) {{ (arrayDataRecepcion.cant_dias > 1) ? 'dias': 'dia' }} : </td>
              <td *ngIf="arrayDataRecepcion"  class="text-center" >{{'S/. '+(arrayDataRecepcion.precio * arrayDataRecepcion.cant_dias).toFixed(2)}}</td>
            </tr>

          </table>
          <hr>
          <div>
            <p>Monto total a pagar :  <span style="font-size: 25px;" class="text-bold">{{'S/. ' + montoTotal}}</span></p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-9 text-right">
        <button (click)="terminarVenta('Factura')" class="btn btn-warning btn-grid"> <i class="fa fa-print" aria-hidden="true"></i> Terminar e Imprimir Factura </button>
        &nbsp;
        <button (click)="terminarVenta('Boleta')" class="btn btn-success btn-grid"> <i class="fa fa-print" aria-hidden="true"></i> Terminar e Imprimir Boleta</button>
      </div>
    </div>



  </div>
</div>
