<div class="page-content">
  <div class="container-fluid">
    <h1 class="text-center text-uppercase text-danger text-bold"> <b>Sistema de Registros Hostal los ángeles</b></h1>
    <hr>

    <div class="row" *ngIf="datos" >
      <div class="col-md-4">
          <div class="chart-statistic-box cursor-pointer h-auto">
              <div class="chart-txt" style="width: 100%; height: auto;">
                  <div class="chart-txt-top">
                      <p><span class="unit">$</span><span class="number">1540</span></p>
                      <p class="caption">Week income</p>
                      <img src="assets/img/logo/logo.png" class="img-fluid" alt="">
                  </div>

              </div>

          </div><!--.chart-statistic-box cursor-pointer h-auto-->
      </div><!--.col-->
      <div class="col-md-8">
          <div class="card">
            <h5 class="card-header text-center text-uppercase">Datos generales</h5>
            <div class="card-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-4">
                      <article routerLink="/dashboard/seleccionar-habitacion" class="statistic-box cursor-pointer h-auto green">
                          <div>
                              <div class="number">{{datos.hab_disponibles}}</div>
                              <div class="caption text-uppercase"><div>Habitaciones Disponibles</div></div>
                              <div class="percent">
                                  <div class="arrow up"></div>
                                  <p>15%</p>
                              </div>
                          </div>
                      </article>
                  </div><!--.col-->
                  <div class="col-sm-4">
                      <article routerLink="/dashboard/seleccionar-habitacion" class="statistic-box cursor-pointer h-auto blue">
                          <div>
                              <div class="number">{{datos.hab_sucias}}</div>
                              <div class="caption text-uppercase"><div>Habitaciones Sucias</div></div>
                              <div class="percent">
                                  <div class="arrow down"></div>
                                  <p>11%</p>
                              </div>
                          </div>
                      </article>
                  </div><!--.col-->
                  <div class="col-sm-4">
                      <article routerLink="/dashboard/seleccionar-habitacion" class="statistic-box cursor-pointer h-auto red">
                          <div>
                              <div class="number">{{datos.hab_ocupadas}}</div>
                              <div class="caption text-uppercase"><div>Habitacones Ocupadas</div></div>
                              <div class="percent">
                                  <div class="arrow up"></div>
                                  <p>15%</p>
                              </div>
                          </div>
                      </article>
                  </div><!--.col-->
                  <div class="col-sm-4">
                      <article routerLink="/dashboard/clientes" class="statistic-box cursor-pointer h-auto purple">
                          <div>
                              <div class="number">{{datos.huesped}}</div>
                              <div class="caption text-uppercase"><div>Clientes</div></div>
                              <div class="percent">
                                  <div class="arrow down"></div>
                                  <p>11%</p>
                              </div>
                          </div>
                      </article>
                  </div><!--.col-->
                  <div class="col-sm-4">
                      <article routerLink="/dashboard/tipoHabitacion" class="statistic-box cursor-pointer h-auto yellow">
                          <div>
                              <div class="number">{{datos.tipo_habitacion}}</div>
                              <div class="caption text-uppercase"><div>TIpos de Habitación</div></div>
                              <div class="percent">
                                  <div class="arrow down"></div>
                                  <p>5%</p>
                              </div>
                          </div>
                      </article>
                  </div><!--.col-->
                  <div class="col-sm-4">
                      <article routerlink="/dashboard/venta-diaria" class="statistic-box cursor-pointer h-auto gray">
                          <div>
                              <div class="number">{{datos.productos}}</div>
                              <div class="caption text-uppercase"><div>Productos Disponibles</div></div>
                              <div class="percent">
                                  <div class="arrow up"></div>
                                  <p>84%</p>
                              </div>
                          </div>
                      </article>
                  </div><!--.col-->
                  <div class="col-md-2"></div>
                  <div class="col-sm-4">
                    <article routerLink="/dashboard/venta-diaria" class="statistic-box cursor-pointer h-auto fucsia">
                          <div>
                            <div class="number">{{datos.dia_actual}}</div>
                              <div class="caption text-uppercase"><div>Recepciones DE HOY</div></div>
                              <div class="percent">
                                <div class="arrow up"></div>
                                <p>84%</p>
                              </div>
                            </div>
                          </article>
                  </div><!--.col-->
                  <div class="col-sm-4">
                    <article routerLink="/dashboard/venta-mensual" class="statistic-box cursor-pointer h-auto dark-blue">
                      <div>
                        <div class="number">{{datos.mes_actual}}</div>
                        <div class="caption text-uppercase"><div>Recepciones del mes</div></div>
                        <div class="percent">
                          <div class="arrow up"></div>
                          <p>84%</p>
                        </div>
                      </div>
                    </article>
                  </div><!--.col-->
                  <div class="col-md-2"></div>
              </div><!--.row-->
              </div>
            </div>
          </div>
      </div><!--.col-->
  </div>
  </div>
  <!--.page-content-->

</div>

