<div class="page-content animated fadeIn">
  <div class="container-fluid">
    <div class="">
      <h2> Registro de Huespedes</h2>
     <app-modal app-modal [accion]="'guardar'" [template]="'huesped'" [data]="{}" (DatoIngresado)="cargarTabla($event)" ></app-modal>
    <hr>
    </div>
    <section class="">
      <input
      type="text"
      style="padding:8px;margin:15px auto;box-shadow: 3px 4px 15px -8px rgba(0,0,0,0.75);
      border: 1px #e1e1e1;"
      placeholder="Ingrese el nombre a Buscar" class="cuadro-buscar"
      (keyup)="updateFilter($event)"
    />
    <ngx-datatable
      #table
      class="material expandable"
      [columnMode]="'force'"
      [loadingIndicator]="loading"
      [headerHeight]="50"
      [scrollbarH]="true"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="10"
      [rows]="huesped"
      [sorts]="[{prop: 'id', dir: 'asc'}]"
    >

    <ngx-datatable-column name="id" [flexGrow]="3">
      <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
        {{ rowIndex + 1}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Tipo de documento" [flexGrow]="3">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template >
        {{ row.tipo_documento }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="N° de documento" [flexGrow]="1">
      <ng-template  let-value="value" let-row="row" ngx-datatable-cell-template >
        {{ row.num_documento }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Nombre" [flexGrow]="1">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template >
        {{ row.nombre }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Fecha de nacimiento" [flexGrow]="1">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template >
        {{ row.fecha_nacimiento }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Celular" [flexGrow]="1">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template >
        {{ row.celular }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Procedencia" [flexGrow]="1">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template >
        {{ row.procedencia }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Opciones" [flexGrow]="3">
      <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">

        <app-modal  [accion]="'actualizar'" [template]="'huesped'" [data]="row" (DatoActualizado)="actualizarHuesped($event)"></app-modal>
        &nbsp;<button   (click)="EliminarHuesped(row)" class="btn btn-danger btn-sm"><i class="font-icon font-icon-trash"></i> </button>

        <!-- {{row | json}} -->
      </ng-template>
    </ngx-datatable-column>

    </ngx-datatable>
    </section><!--.box-typical-->

  </div><!--.container-fluid-->
</div><!--.page-content-->
