.d-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
padding: 8px;

}
.cursor-pointer{
  cursor:  pointer;
}
.d-flex .icon{
  font-size: 35px;
}
.d-flex .info-icon{
  font-size: 25px;
}

.text-center{
  text-align: center;
}
.info-widget{
  padding: 0 15px;
  border-right: 1px solid #e1e1e1;
}
.info-widget .numero{
  font-size: 58px;
  font-weight: bold;
}
.info-widget .tipo{
  font-size: 20px;
}
.widget-time-content i{
  font-size: 60px;
}

