<div class="page-content animated fadeIn">
  <div class="container-fluid">
    <div class="">
      <h2> Registro de Habitaciones</h2>
     <app-modal app-modal [accion]="'guardar'" [template]="'habitacion'" [data]="{}" (DatoIngresado)="cargarTabla($event)" ></app-modal>
    <hr>
    </div>
    <section class="">
      <input
      type="number"
      style="padding:8px;margin:15px auto;box-shadow: 3px 4px 15px -8px rgba(0,0,0,0.75);
      border: 1px #e1e1e1;"
      placeholder="Ingrese el nombre a Buscar" class="cuadro-buscar"
      (keyup)="updateFilter($event)"
    />
    <ngx-datatable
      #table
      class="material expandable"
      [columnMode]="'force'"
      [loadingIndicator]="loading"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="10"
      [rows]="habitacion"
      [sorts]="[{prop: 'id', dir: 'asc'}]"
    >

    <ngx-datatable-column name="id" [flexGrow]="3">
      <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
        {{ rowIndex + 1}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="numero" [flexGrow]="3">
      <ng-template let-value="value" ngx-datatable-cell-template >
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="piso" [flexGrow]="3">
      <ng-template let-value="value" ngx-datatable-cell-template >
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Tipo de Habitacion" [flexGrow]="1">
      <ng-template  let-value="value" let-row="row" ngx-datatable-cell-template >
        {{ row.nombre }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="precio"  [minWidth]="30">
      <ng-template  let-value="value" ngx-datatable-cell-template >
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="estado"  [minWidth]="160">
      <ng-template  let-value="value" let-row="row" ngx-datatable-cell-template >
        <select class="form-control" #estado (change)="actualizarEstado(row, estado.value)">
          <option [value]="value" disabled selected>{{row.estado}}</option>


          <option  *ngFor="let item of estadoHabitacion"  [value]="item">{{item}}</option>
        </select>

        <span *ngIf="value == 'disponible'"  class="label label-primary">Disponible</span>
        <span *ngIf="value == 'ocupado'"  class="label label-secondary">Ocupado</span>
        <span *ngIf="value == 'sucio'"  class="label label-info">Sucio</span>
        <span *ngIf="value == 'checkout'"  class="label label-warning">Checkout</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="opciones" [flexGrow]="3">
      <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">

        <app-modal  [accion]="'actualizar'" [template]="'habitacion'" [data]="row" (DatoActualizado)="actualizarHabitacion($event)"></app-modal>
        &nbsp;<button   (click)="eliminarHabitacion(row)" class="btn btn-danger btn-sm"><i class="font-icon font-icon-trash"></i> </button>

      </ng-template>
    </ngx-datatable-column>

    </ngx-datatable>
    <br>

    </section><!--.box-typical-->

  </div><!--.container-fluid-->
</div><!--.page-content-->
